.task-container {
  background-color: #159097;

  align-items: center;

  display: grid;
  grid-template-columns: 1fr 50% 1fr;
}
.task-container :nth-child(3) {
  justify-self: right;
  margin-right: 2.2em;
}

.checkbox {
  width: 2em;
  height: 2em;
  margin-left: 2em;
  margin-bottom: 2em;
}
.delete-button {
  width: 3em;
  height: 2.5em;
  background-color: #f8d092;
  border-width: 0em;
  border-radius: 1em;

  margin-bottom: 2em;
}
.task {
  color: white;
}
.task-completed {
  text-decoration: line-through;
}
.task-not-completed {
  text-decoration: none;
}
